.canvas-container {
  width: 500px;
  height: 500px;
}

.canvas-container > canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.buttons{
  display: none;
}

.buttons.showing{
  display: unset;
}

.buttons button{
  opacity: .7;
}

.buttons button.active{
  opacity: 1;
  color: blue;
}
